//gray
$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

//background color
$bodyBg:#f4f4f4;
$iconBg:#d8d8d8;

//font color
$blackFont:#333;
$greyFont:#666;
$lightGreyFont:#999;
$lighterGreyFont:#ddd;
$greenFont:#13BC95;
$blueFont:#0069F8;
$redFont:#E84D46;

//border color
$greyBorder:#C7C7C7;
$lightGreyBorder:#eee;

//main color
$captainOrange:#EF8200;

// Spacing
$body-spacing-x:10px;
$body-spacing-y:10px;

// icon colors
$icon-red:#FF3B30;
$icon-blue:#0084FF;
$icon-yellow:#FFCD4C;
